body {
    margin: 0;
}


/*Add Task container*/
.add_task_container {
    height: 100vh;
    overflow: hidden;
    padding-left: 232px;
}

.add_task_cont {
    gap: 24px;
    position: absolute;
    width: 488px;
    height: -webkit-fill-available;
    left: 320px;
    top: 176px;
    bottom: 0;
    padding-bottom: 20px;
    overflow-y: auto;
}

.add_task_title {
    gap: 3px;
    width: 422px;
    height: 74px;
}

.add_task_title_cont {
    padding: 13px 21px;
    gap: 10px;
    width: 381px;
    height: 74px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

.add_task_input {
    font-size: 40px;
    color: #D1D1D1;
    border: none;
    outline: none;
}

/*Add Task assign contacts*/
.add_task_contacts_cont {
    gap: 8px;
    width: 422px;
    height: 79px;
}

.add_task_contacts {
    width: 422px;
    height: 51px;
    background: #FFFFFF;
}

.contacts_img_cont {
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 51px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    justify-content: space-between;
    cursor: pointer;
}

.contacts_choose_cont {
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 31px;
    justify-content: space-between;
    cursor: pointer;
}

.contacts_choose_cont:hover {
    background: #D2E3FF;
}

.new_contact_cont {
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 26px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    justify-content: space-between;
}

.new_contact_input {
    gap: 10px;
    isolation: isolate;
    height: 26px;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 250px;
    font-size: 19px;
    color: #D1D1D1;
    outline: none;
}

.new_contact_input_icons {
    gap: 9px;
    width: 66px;
    height: 26px;
    cursor: pointer;
}

.add_task_check_cont {
    width: 11px;
    height: 11px;
    border: #4589FF;
    border-radius: 2px solid #4589FF;
    margin-right: 8px;
}

.add_task_new_contact {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.add_task_check {
    position: absolute;
    left: 27.27%;
    right: 27.27%;
    top: 27.27%;
    bottom: 27.27%;
    background: #4589FF;
    border-radius: 2px;
}

.add_task_subtitle {
    width: 216px;
    height: 23px;
    font-size: 19px;
    color: #000000;
}

.add_task_contacts_arrow {
    width: 16px;
    height: 8px;
    left: 392px;
    top: 22px;
}

.add_task_contacts_list {
    padding-left: 18px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 51px;
    justify-content: space-between;
}

.add_task_contacts_list:hover {
    background: #D2E3FF;
}

.add_task_contact_name {
    width: 301px;
    height: 23px;
    font-size: 19px;
    color: #000000;
}

.add_task_contacts_check {
    width: 11px;
    height: 11px;
    border-radius: 31px;
    margin-right: 8px;
}

/*Add Task assign due date*/
.add_task_dueDate_cont {
    gap: 8px;
    width: 422px;
    height: 99px;
}

.add_task_titles {
    font-weight: 700 !important;
    font-size: 19px;
    color: #42526E;
}

.add_task_Duedate_input {
    padding: 0px 21px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 51px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

.Duedate_input[type="date"] {
    width: 422px;
    height: 23px;
    font-size: 19px;
    color: #D1D1D1;
    border: none;
    outline: none;
    cursor: pointer;
    background: url('/assets/img/calendarAddTask.svg');
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: 100%;
}

.Duedate_input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/*Add Task assign category*/

.add_task_category_Cont {
    width: 422px;
    height: 79px;
}

.add_task_category_cont {
    gap: 8px;
    width: 422px;
    height: 70px;
}

.add_task_select_cat {
    width: 422px;
    height: 51px;
}

.add_task_selectCat {
    padding: 18px 21px;
    gap: 10px;
    isolation: isolate;
    width: 381px;
    height: 51px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    justify-content: space-between;
    cursor: pointer;
}

.add_task_selected {
    background-color: #D2E3FF;
}

.category_circle_color {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.color_sales {
    background: #FC71FF;
}

.color_backoffice {
    background: #1FD7C1;
}

.new_category_colors {
    padding: 18px 21px;
    gap: 10px;
    width: 422px;
    height: 51px;
}

.new_category_select_color {
    gap: 21px;
    width: 30px;
    height: 20px;
}

.new_category_circle {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

.new_category_circle:focus {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

/*Add Task assign priority*/
.add_task_prio_cont {
    width: 422px;
    height: 82px;
}

.add_task_prio_cont_buttons {
    gap: 10px;
    width: 422px;
    height: 82px;
}

.add_task_prio_buttons {
    gap: 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    cursor: pointer;
}

.prio_buttons_text {
    width: 74px;
    height: 23px;
    font-size: 19px;
    color: #000000;
}

.prio_buttons_img {
    width: 20px;
    height: 14.51px;
}

.urgent_hover:hover {
    border-bottom: 2px solid #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.urgent_medium:hover {
    border-bottom: 2px solid #FFA800;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.urgent_low:hover {
    border-bottom: 2px solid #7AE229;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

/*Add Task write description*/
.add_task_description_cont {
    gap: 8px;
    width: 422px;
    height: 154px;
}

.add_task_descript_input {
    padding-left: 21px;
    padding-top: 18px;
    gap: 10px;
    isolation: isolate;
    width: 398px;
    height: 85px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 0px 10px 10px 10px;
    outline: none;
}

.add_task_descript_input::placeholder {
    font-size: 19px;
    color: #D1D1D1;
}

.add_task_subtasks_cont {
    gap: 14px;
    width: 422px;
    height: 79px;
    border: none;
}

.subtasks_cont_input_img {
    width: 422px;
    height: 52px;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
}

/*Add Task assign subtask*/
.add_task_subtasks_input {
    padding-left: 21px;
    gap: 10px;
    isolation: isolate;
    width: 422px;
    height: 51px;
    background: #FFFFFF;
    border: none;
    outline: none;
}

.add_task_subtasks_input::placeholder {
    font-size: 19px;
    color: #D1D1D1;
}

.plus_blue_img {
    width: 24px;
    height: 24px;
    left: 381px;
    top: 14px
}

.subtasks_cont_check {
    gap: 20px;
    width: 118px;
    height: 19px;
}

.subtasks_checkbox {
    width: 16px;
    height: 16px;
    border-radius: 3px;
}

.subtask_text {
    font-size: 16px;
    color: #000000;
}

.subTaskContainer {
    gap: 5px;
    width: 300px;
}

/*Add Task buttons bottom*/
.add_task_buttons_bottom {
    gap: 25px;
    width: 341px;
    height: 61px;
    position: absolute;
    right: 30px;
    bottom: 0;
    padding-bottom: 20px;
}

.add_task_buttons_clear {
    padding: 18px 10px;
    gap: 10px;
    width: 136px;
    height: 61px;
    background: #FFFFFF;
    border: 1px solid #647188;
    border-radius: 10px;
    cursor: pointer;
}

.add_task_buttons_clear:hover {
    background: #FFFFFF;
    border: 2px solid #4589FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.add_task_buttons_clear:hover>a {
    color: #4589FF;
}

.add_task_clear_text {
    width: 80px;
    height: 28px;
    font-size: 23px;
    color: #647188;
}

.add_task_buttons_create {
    padding: 18px 10px;
    gap: 10px;
    width: 180px;
    height: 61px;
    background: #4589FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.add_task_buttons_create:hover {
    background: #005DFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.add_task_create_text {
    width: 126px;
    height: 28px;
    font-size: 23px;
    color: #FFFFFF;
}

.field_required {
    display: none;
    width: 125px;
    height: 16px;
    font-size: 13px;
    color: #FF8190;
}