body {
    margin: 0;
}

.board_container {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
}

.board_head {
    gap: 474px;
    position: relative;
    width: 500px;
    height: 51px;
    top: 50px;
    z-index: 2;
    padding-left: 10px;
}

/*Find task */
.board_head_findTask {
    gap: 35px;
    width: 424px;
    height: 51px;
}

.board_head_findT {
    padding-left: 13px;
    gap: 10px;
    width: 251px;
    height: 51px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.find_task_head {
    gap: 10px;
    width: 226px;
    height: 31px;
}

.find_task_input {
    gap: 13px;
    width: 170px;
    height: 19px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #D1D1D1;
}

.find_task_imgs {
    gap: 15px;
    width: 43px;
    height: 31px;
}

.find_task_img {
    width: 20.31px;
    height: 20.31px;
    cursor: pointer;
}

/*Add task + button */
.addTask_button {
    gap: 10px;
    width: 138px;
    height: 51px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
}

.add_task_text {
    font-size: 23px;
    color: #FFFFFF;
}

.plus_addTask {
    width: 15px;
    height: 15px;
    left: 113px;
    top: 18px;
}

/*columns container */
.board_columns_container {
    gap: 26px;
    position: relative;
    width: 1078px;
    top: 113px;
}

.board_columns {
    padding: 236px 10px 11px;
    gap: 46px;
    position: absolute;
    width: -webkit-fill-available;
    height: 277px;
    left: 299px;
    top: 65px;
    background: #FFFFFF;
}

.board_column_tasks {
    gap: 35px;
    width: 250px;
    height: 30px;
}

.column_tasks_text {
    font-weight: 700 !important;
    font-size: 23px;
    color: #42526E;
}

.column_task_plus {
    padding: 3px;
    gap: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.board_columns_column {
    gap: 25px;
    width: 250px;
}

.column_for_tasks {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 590px;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.minitask_container {
    padding: 18px 19px;
    gap: 10px;
    width: 210px;
    height: 205px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

.minitask {
    gap: 20px;
    width: 213px;
    height: 205px;
}

.minitask_title_cont {
    padding: 4px 25px;
    gap: 10px;
    width: fit-content;
    height: 27px;
    background: #FF7A00;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minitask_title {
    height: 19px;
    font-size: 16px;
    color: #FFFFFF;
}

.minitask_description_cont {
    gap: 20px;
    width: 207px;
    height: 67px;
}

.minitask_descr_title {
    width: 200px;
    height: 19px;
    font-weight: 700 !important;
    font-size: 16px;
    color: #4589FF;
}

.minitask_descr_text {
    width: 207px;
    height: 38px;
    font-size: 16px;
    color: #A8A8A8;
}

.minitask_subtask {
    gap: 20px;
    width: 213px;
    height: 16px;
}

.minitask_sub_bar {
    width: 138px;
    height: 8px;
    background: linear-gradient(to right, #0038FF 0%, #0038FF calc(100% * var(--progress)), #F4F4F4 calc(100% * var(--progress)), #F4F4F4 100%);
    border-radius: 2px;
}

.minitask_sub_text {
    width: 58px;
    height: 16px;
    font-size: 13px;
    color: #000000;
}

.minitask_buttom_cont {
    gap: 50px;
    width: 207px;
    height: 35px;
}

.minitask_contacts_cont {
    position: relative;
    width: 250px;
    height: 35px;
}

.minitask_prio_cont {
    gap: 10px;
    width: 32px;
    height: 32px
}

.minitask_contact {
    position: absolute;
    top: 0;
    gap: 10px;
    width: 35px;
    height: 35px;
    background: #0190E0;
    border: 1px solid #FFFFFF;
    border-radius: 58px;
}

.minitask_contact_text {
    width: 19px;
    height: 14px;
    font-size: 12px;
    color: #FFFFFF;
}

.minitask_prio {
    width: 17px;
    height: 12px;
}

@media (width < 1400px) {

    .board_columns_container {
        justify-content: center !important;
        width: 550px;
        gap: 35px;
        flex-wrap: wrap;
    }

    .board_columns_column {
        width: 250px;
    }

    .board_column_tasks {
        width: 230px;
        gap: 20px
    }

    .column_for_tasks {
        width: 250px;
        height: 250px;
    }

    .column_tasks_text {
        font-size: 21px;
    }

    .minitask_container {
        width: 200px;
    }

    .minitask {
        width: 210px;
    }
}


@media (width < 1200px) {
    .board_container {
        padding-left: 200px;
    }
}

@media (width < 1000px) {
    .board_container {
        padding-left: 155px;
    }
}

@media (width < 850px) {
    .board_container {
        padding-left: 0;
        align-items: center !important;
    }

    .board_head {
        left: 0;
    }

    .board_columns_container {
        left: 0;
    }
}

@media (width < 600px) {
    .board_head {
        top: 10px;
    }

    .board_columns_container {
        top: 35px;
    }
}

@media (width < 550px) {
    .board_head {
        top: 110px;
        width: 100% !important;
        padding-left: 0;
    }

    .board_container {
        overflow: hidden;
    }

    .board_columns_container {
        top: 150px;
        width: 300px;
        overflow-y: scroll;
    }

    .board_head_findTask {
        justify-content: center !important;
        width: 100%;
    }

    .board_head_findT {
        width: 364px;
    }

    .find_task_head {
        width: 360px;
    }

    .find_task_input {
        width: 300px;
    }

    .addTask_button {
        display: none !important;
    }
}

@media (width < 400px) {
    .board_head_findT {
        width: initial;
    }

    .find_task_head {
        width: initial;
    }

    .find_task_input {
        width: initial;
    }

    .board_columns_container {
        padding-bottom: 250px
    }
}