body {
    margin: 0;
}

.contacts_container {
    padding-left: 232px;
    padding-top: 137px;
    display: flex;
    height: -webkit-fill-available;
}

/*Contacts column*/

.contacts_column_container {
    width: 453px;
    height: -webkit-fill-available;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    overflow-x: scroll;
}

.contacts_column_cont {
    width: 357px;
    height: 850px;
    padding-left: 48px;
    background: #FFFFFF;
}

.contacts_alphabet {
    padding: 10px;
    gap: 10px;
    width: 357px;
    height: 60px;
}

.contacts_alphabet_leters {
    width: 282px;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.contacts_separated_line {
    padding: 14px 12px;
    gap: 10px;
    width: 347px;
    height: 28px;
}

.contacts_grau_line {
    width: 323px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.contacts_list {
    padding: 15px 25px;
    gap: 35px;
    width: 357px;
    height: 77px;
    background: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.contacts_circle_in {
    gap: 10px;
    width: 42px;
    height: 42px;
    border-radius: 45px;
    font-size: 12px;
    color: #FFFFFF;
}

.contacts_circle {
    width: 42px;
    height: 42px;
    border-radius: 45px;
}

.contact_container_info {
    gap: 5px;
    width: 250px;
    height: 47px;
}

.contact_name_info {
    width: 215px;
    height: 23px;
    font-size: 19px;
    display: flex;
    align-items: center;
    color: #000000;
}

.contact_mail_info {
    width: 215px;
    height: 19px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #4589FF;
}

.contacts_column {
    width: 357px;
    height: 805px;
    background: #FFFFFF;
}

/*Contacts display*/
.contacts_right {
    padding-top: 58.5px;
    padding-left: 65px;
}

.contacts_display_contact {
    gap: 21px;
    width: 700px;
    height: 319.34px;
}

.contact_card_title {
    padding-bottom: 20px;
    display: none;
    justify-content: space-between;
    width: 100%;
}

.contacts_display_name {
    gap: 54px;
    width: 700px;
    height: 120px;
}

.contacts_init_circle {
    gap: 10px;
    width: 120px;
    height: 120px;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 70px;
}

.contacts_initials {
    font-weight: 500 !important;
    font-size: 47px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.contacts_name_cont {
    gap: 13px;
    width: 500px;
    height: 90px;
}

.contacts_name {
    gap: 5px;
    width: 500px;
    height: 58px;
}

.contactsName {
    font-weight: 600 !important;
    font-size: 48px;
    display: flex;
    align-items: center;
    color: #000000;
}

.blue_arrow_contacts {
    cursor: pointer;
    display: none;
    align-items: flex-start;
}

.contacts_addTask_cont {
    gap: 13px;
    width: 128px;
    height: 19px;
    cursor: pointer;
}

.contacts_plusBlue {
    width: 15px;
    height: 15px;
}

.contacts_addTask_text {
    width: 100px;
    height: 19px;
    font-size: 16px;
    color: #005DFF;
}

.contacts_subtitle_cont {
    gap: 59px;
    width: 420.85px;
    height: 29.34px;
}

.contacts_subtitle_text {
    width: 235px;
    height: 28px;
    font-weight: 700 !important;
    font-size: 23px;
    color: #000000;
}

.contacts_editContact_cont {
    gap: 6px;
    width: 126.85px;
    height: 29.34px;
    cursor: pointer;
}

.contacts_editContact_text {
    width: 100px;
    height: 19px;
    font-size: 16px;
    color: #2A3647;
    display: flex;
    align-items: center;
}

.contacts_info_cont {
    gap: 22px;
    width: 140px;
    height: 128px;
}

.contacts_info {
    gap: 15px;
    width: 250px;
    height: 53px;
}

.contacts_info_subt {
    width: 45px;
    height: 19px;
    font-weight: 700 !important;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.contacts_info_info {
    width: 250px;
    height: 19px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #005DFF;
    cursor: pointer;
}

/*butotn New contact*/
.container_new_contact {
    position: absolute;
    width: 197px;
    height: 53px;
    right: 35px;
    bottom: 20px;
}

.contacts_button_cont {
    gap: 10px;
    width: 197px;
    height: 53px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
}

.contacts_button_cont:hover {
    background: #005DFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.contacts_button_cont {
    gap: 10px;
    background: #4589FF;
    border: 1px solid #4589FF;
    border-radius: 10px;
    cursor: pointer;
}

.contact_newContact {
    width: 134px;
    height: 28px;
    font-size: 23px;
    color: #FFFFFF;
}


@media (width < 1350px) {
    .contacts_column_container {
        width: 350px;
        padding-left: 20px;
    }

    .contacts_column_cont {
        padding-left: 30px;
        padding-right: 10px;
        width: 310px;
    }

    .contacts_column_cont {
        width: 300px;
    }

    .contacts_alphabet {
        width: 260px;
    }

    .contacts_alphabet_leters {
        width: 260px;
    }

    .contacts_separated_line {
        width: 260px;
    }

    .contacts_grau_line {
        width: 270px;
    }

    .contacts_list {
        padding: 15px;
        width: 255px;
        gap: 20px;
    }

    .contact_container_info {
        width: 200px;
    }

    .contacts_right {
        padding-left: 30px;
    }

    .contacts_display_contact {
        width: 605px;
    }

    .contacts_display_name {
        gap: 20px;
        width: 600px;
    }

    .contacts_init_circle {
        width: 75px;
        height: 75px;
    }

    .contacts_initials {
        font-size: 37px;
    }
}

@media (width < 1200px) {
    .contacts_right {
        position: absolute;
        display: none !important;
        width: 650px;
        height: -webkit-fill-available;
        background-color: #FFFFFF;
    }

    .contacts_display_contact {
        width: 655px;
    }

    .contacts_display_name {
        gap: 20px;
        width: 650px;
    }

    .blue_arrow_contacts {
        cursor: pointer;
        display: flex
    }
}

@media (width < 1000px) {
    .contacts_container {
        padding-left: 180px;
    }

    .contacts_right {
        width: 600px;
    }

    .contacts_display_contact {
        width: 640px;
    }

    .contacts_display_name {
        width: 635px;
    }
}

@media (width < 850px) {
    .contacts_container {
        padding-left: 0;
        padding-bottom: 100px
    }

    .contacts_column_container {
        box-shadow: none;
        padding-left: 50px;
    }

    .container_new_contact {
        bottom: 100px;
    }

}

@media (width < 700px) {
    .contacts_right {
        width: 570px;
    }

    .contacts_display_contact {
        width: 560px;
    }

    .contacts_display_name {
        width: 555px;
    }

    .contacts_name_cont {
        width: 400px;
    }

    .contactsName {
        font-size: 40px;
    }
}

@media (width < 600px) {

    .contacts_column_container {
        width: -webkit-fill-available;
        padding-left: 0;
    }

    .contacts_container {
        padding-top: 100px;
    }

    .container_new_contact {
        width: 64px;
        height: 64px;
    }

    .contacts_button_cont {
        width: 64px;
        height: 64px;
    }

    .contact_newContact {
        display: none;
    }

    .contacts_right {
        padding: 20px;
        width: -webkit-fill-available;
    }

    .contacts_display_contact {
        width: -webkit-fill-available;
    }

    .contacts_display_name {
        gap: 10px;
        width: -webkit-fill-available;
    }

    .contacts_name_cont {
        width: -webkit-fill-available;
    }

    .contactsName {
        font-size: 25px;
    }

    .contacts_name_cont {
        width: -webkit-fill-available;
        height: 58px;
        gap: 10px;
    }

    .contacts_name {
        width: -webkit-fill-available;
        height: 30px;
    }

    .contacts_init_circle {
        width: 40px;
        height: 40px;
    }

    .contacts_initials {
        font-size: 20px;
    }

    .contacts_subtitle_cont {
        width: -webkit-fill-available;
    }

    .contacts_subtitle_text {
        font-size: 20px;
    }
}