body {
    margin: 0;
}

/* Legal notice window */
.legal_container {
    width: -webkit-fill-available;
    max-height: 100vh;
    overflow: hidden;
    padding-left: 252px;
}

.legal_help_blue_arrow {
    position: absolute;
    width: 37px;
    height: 37px;
    right: 20px;
    top: 204px;
    cursor: pointer;
}

.legal_title_cont {
    gap: 30px;
    position: absolute;
    width: fit-content;
    height: 73px;
    top: 211px;
}

.legal_info_subtitle_1 {
    color: #4589FF;
    font-size: 33px;
    font-weight: 700 !important;
    line-height: 120% !important;
}

.legal_title {
    width: fit-content;
    height: 73px;
    font-weight: 700 !important;
    font-size: 61px;
    color: #000000;
}

.legal_info_cont {
    gap: 24px;
    position: absolute;
    width: -webkit-fill-available;
    top: 332px;
    padding-right: 50px;
    padding-bottom: 20px;
    max-height: -webkit-fill-available;
    overflow-y: auto;
}

.legal_info_subcont {
    width: -webkit-fill-available;
    height: fit-content;
}

.legal_info_subtitle {
    font-size: 16px;
    line-height: 120% !important;
    color: #005DFF;
}

.legal_info_text {
    width: -webkit-fill-available;
    font-size: 16px;
    color: #000000;
}

.blue_etiquetes {
    color: #4589FF;
    font-size: 16px;
    line-height: 120% !important;
}

/* Help window */
.legal_info_subcont0 {
    position: absolute;
    top: 320px;
    gap: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding-right: 50px;
}

.legal_info_container {
    gap: 20px;
    position: absolute;
    top: 400px;
    padding-right: 50px;
    max-height: -webkit-fill-available;
    overflow-y: auto;
}

.legal_info_subcont1 {
    gap: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.help_info_subcont2 {
    gap: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.hep_info_subtitle {
    color: #4589FF;
    font-size: 33px;
    font-weight: 700 !important;
    line-height: 120% !important;
}

.help_info_text {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    font-size: 16px;
    color: #000000;
}

.legal_info {
    display: flex;
    padding-bottom: 20px;
}

.legal_text_number {
    padding-right: 35px;
    width: 29px;
    height: 40px;
    font-weight: 700 !important;
    font-size: 33px;
    color: #005DFF;
}

.help_info_subtext {
    width: -webkit-fill-available;
    font-size: 16px;
    color: #000000;
}

@media (width < 1200px) {
    .legal_container {
        padding-left: 212px;
    }
}

@media (width < 1000px) {
    .legal_container {
        padding-left: 190px;
    }
}

@media (width < 850px) {
    .legal_container {
        padding-left: 30px;
    }

    .legal_info_cont {
        padding-bottom: 90px;
    }
}

@media (width < 600px) {
    .legal_title_cont {
        top: 150px;
    }

    .legal_help_blue_arrow {
        top: 104px;
    }

    .legal_info_subcont0 {
        top: 250px;
    }

    .legal_info_container {
        top: 350px;
    }

    .legal_info_cont {
        top: 272px;
    }

    .legal_title_cont {
        width: -webkit-fill-available;
    }

    .legal_info_subtitle_1 {
        font-size: 23px;
    }

    .legal_title {
        width: -webkit-fill-available;
        font-size: 47px;
    }
}

@media (width < 570px) {
    .legal_info_container {
        top: 370px;
    }
}

@media (width < 427px) {
    .legal_info_container {
        top: 390px;
    }
}

@media (width < 370px) {
    .legal_info_container {
        top: 410px;
    }
}

@media (width < 333px) {
    .legal_info_container {
        top: 430px;
    }
}