body {
    margin: 0;
}

/* Legal notice window */
.legal_container {
    width: 100%;
    height: 100vh;
    padding-left: 232px;
}

.legal_help_blue_arrow {
    position: absolute;
    width: 37px;
    height: 37px;
    left: 1258px;
    top: 204px;
    cursor: pointer;
}

.legal_title_cont {
    gap: 30px;
    position: absolute;
    width: 377px;
    height: 73px;
    left: 300px;
    top: 211px;
}

.legal_title {
    width: 377px;
    height: 73px;
    font-weight: 700 !important;
    font-size: 61px;
    color: #4589FF;
}

.legal_info_cont {
    gap: 35px;
    position: absolute;
    width: 969px;
    height: 325px;
    left: 300px;
    top: 332px;
}

.legal_info_subcont {
    gap: 10px;
    width: 969px;
    height: 145px;
}

.legal_info_subtitle {
    width: 346px;
    height: 40px;
    font-weight: 700 !important;
    font-size: 33px;
    color: #005DFF;
}

.legal_info_text {
    width: 969px;
    height: 95px;
    font-size: 16px;
    color: #000000;
}

/* Help window */
.help_info_subcont2 {
    gap: 10px;
    width: 969px;
    height: -webkit-fill-available
}

.help_info_text {
    width: 969px;
    height: -webkit-fill-available;
    font-size: 16px;
    color: #000000;
}

.legal_info {
    display: flex;
    padding-bottom: 20px;
}

.legal_text_number {
    padding-right: 35px;
    width: 29px;
    height: 40px;
    font-weight: 700 !important;
    font-size: 33px;
    color: #005DFF;
}

.help_info_subtext {
    width: 969px;
    font-size: 16px;
    color: #000000;
}