body {
    margin: 0;
}

/*menu principal*/
.menu_principal {
    position: absolute;
    width: 232px;
    height: -webkit-fill-available;
    left: 0px;
    top: 97px;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    z-index: 3;
}

.menu_links {
    padding-top: 80px;
    gap: 15px;
    top: 66px;
    left: 23px;
    width: 186px;
    height: 229px;
}

.menu_legal {
    position: absolute;
    padding: 20px;
    gap: 15px;
    bottom: 0px;
    left: 23px;
    height: 135px;
}

.menu_all {
    padding: 8px 20px;
    gap: 20px;
    width: 146px;
    height: 46px;
    border-radius: 8px;
    cursor: pointer;
}

.menu_all:hover {
    background: #E3EEFF;
}

.icon_summary {
    width: 24px;
    height: 24px;
}

.icon_summary_blue {
    width: 24px;
    height: 24px;
    display: none;
}

.icon_board {
    width: 22px;
    height: 26px;
}

.icon_board_blue {
    width: 22px;
    height: 26px;
    display: none;
}

.icon_addTask {
    width: 27px;
    height: 30px;
}

.icon_addTask_blue {
    width: 27px;
    height: 30px;
    display: none;
}

.addTask_background {
    padding: 8px 30px 8px 28px;
    gap: 18px !important;
}

.contacts_background {
    padding: 8px 30px 8px 25px;
    gap: 18px !important;
}

.icon_contacts {
    width: 30px;
    height: 30px
}

.icon_contacts_blue {
    width: 30px;
    height: 30px;
    display: none;
}

.text_menu {
    width: 76px;
    height: 19px;
    font-size: 16px;
    color: #42526E;
}

.menu_legal_cont {
    padding: 8px;
    gap: 8px;
    width: 112px;
    height: 35px;
    cursor: pointer;
}

.menu_privacy_cont {
    padding: 8px;
    gap: 8px;
    height: 35px;
    cursor: pointer;
}

.menu_legal_icon {
    width: 18px;
    height: 18px;
}

.menu_legal_text {
    width: 94px;
    height: 17px;
    font-size: 16px;
}

.background_blue {
    background: #D2E3FF;
    border-radius: 8px;
}

@media (width < 1200px) {
    .menu_principal {
        width: 190px;
    }

    .menu_legal {
        left: 0;
        width: 148px;
    }
}

@media (width < 1000px) {
    .menu_principal {
        width: 150px;
    }

    .menu_links {
        width: 148px;
    }

    .menu_all {
        padding: 8px;
        width: 134px;
    }

    .menu_legal {
        padding: 8px;
        width: 132px;
    }
}

@media (width < 850px) {
    .menu_principal {
        width: -webkit-fill-available;
        height: 76px;
        flex-direction: inherit !important;
        padding: 0 16px;
        top: initial;
        bottom: 0;
    }

    .menu_legal {
        display: none;
    }

    .menu_links {
        padding-top: 0;
        width: -webkit-fill-available;
        height: 76px;
        flex-direction: initial !important;
        justify-content: space-between !important;
    }

    .menu_all {
        width: 76px;
        height: 46px;
        flex-direction: column !important;
        gap: 4px !important;
        padding: 15px 0;
    }

    .text_menu {
        display: flex;
        justify-content: center;
    }

    .icon_addTask {
        width: 25px;
    }

}

@media (width < 450px) {
    .menu_all {
        width: 56px;
        padding: 10px 0;
    }

    .text_menu {
        font-size: 13px;
        width: 60px;
    }

    .icon_summary {
        width: 20px;
        height: 20px;
    }

    .icon_addTask {
        width: 22px;
    }

    .board_background {
        padding-top: 15px !important;
        gap: 5px !important
    }

    .addTask_background {
        padding-top: 13px !important;
        gap: 5px !important
    }

    .summary_background {
        padding-top: 15px !important;
        gap: 5px !important
    }

}