/* containers for pop-ups */
.window_popUp {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
}

/* style pop-ups */
.pop_up_style {
    position: fixed;
    bottom: 0;
    padding: 0;
    background: #4589FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    transform: translateY(110%);
}

.font_pop_up {
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
}

/* pop-up send mail when forgot password */
.send_mail {
    padding: 0px 24px;
    gap: 13px;
    width: 432px;
    height: 74px;
}

.send_mail img {
    width: 41px;
    height: 41px;
}

.send_mail a {
    width: 330px;
    height: 28px;
}

.confirm_password {
    width: 326px;
    height: 74px;
}

.confirm_password a {
    width: 266px;
    height: 28px;
}

/*header pop-up*/

.header_popup_logout {
    padding: 10px;
    width: 117px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0px 20px 20px;
    position: absolute;
    z-index: 6;
    top: 132px;
    right: 38px;
}

.header_popup {
    display: flex;
    flex-direction: column !important;
    padding: 8px;
    gap: 20px;
    display: none;
    width: 135px;
    height: 29px;
    cursor: pointer;
}

.header_logout_text {
    font-size: 19px;
    color: #4589FF;
}

.header_logout_text_resp {
    display: none;
    font-size: 19px;
    color: #4589FF;
}

/* Add Task Pop-up */

.add_task_pu_container {
    display: none;
}

.add_task_popUp_container {
    z-index: 9;
    position: absolute;
    right: 0;
    width: 518px;
    height: -webkit-fill-available;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px 0px 30px 30px;
    transform: translateX(110%);
}

.add_task_popUp_cont {
    padding-top: 10px;
    padding-left: 36px;
    gap: 20px;
    width: 480px;
}

.add_task_popUp_close_PU {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    right: 34px;
    top: 34px;
    cursor: pointer;
}

.add_task_popUp_head {
    gap: 49px;
    width: 446px;
    height: 61px;
    left: 36px;
}

.add_task_popUp_title {
    gap: 1px;
    width: 217px;
    height: 58px;
}

.add_task_popUp_Title {
    font-weight: 700 !important;
    font-size: 48px;
    color: #000000;
}

.add_task_popUp_button_create {
    padding: 18px 10px;
    gap: 10px;
    width: 180px;
    height: 61px;
    background: #4589FF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.add_task_button_create {
    font-size: 23px;
    line-height: 120%;
    color: #FFFFFF;
}

.add_task_crate_check {
    width: 24px;
    height: 24px;
}

.slide_left {
    transition-duration: 0.3s;
    transform:
        translateX(0px);
    animation-name: slide-left;
}

.slide_right {
    transform:
        translateX(600px);
    transition-duration: 0.3s;
    animation-name: slide-left;
}

/* Pop-up task added to board */

.pop_up_task_added {
    gap: 20px;
    width: 326px;
    height: 74px;
    background: #4589FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.pop_up_task_added_text {
    width: 221px;
    height: 28px;
    font-size: 23px;
    color: #FFFFFF;
}

.pop_up_task_added_img {
    width: 22px;
    height: 26px;
}

/* Pop-up contact created */

.pop_up_contact_created {
    width: 326px;
    height: 74px;
    background: #4589FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    padding: 0;
    transform: translateY(110%);
}

.pop_up_contact_created_text {
    width: 292px;
    height: 28px;
    font-size: 23px;
    color: #FFFFFF;
}

.new_contact_pop_ups {
    display: flex;
    justify-content: center;
}

@media (width < 700px) {

    .send_mail {
        width: 300px;
        height: 54px;
        display: flex;
        align-items: center;
    }

    .send_mail img {
        width: 27px;
        height: 27px;
    }

    .font_pop_up {
        font-size: 18px;
    }

    .confirm_password {
        width: 230px;
    }

    .confirm_password a {
        width: 210px;
        height: 28px;
    }

}

@media(width < 600px) {
    .header_popup_logout {
        width: 155px;
        height: 176px;
        top: 88px
    }

    .header_logout_text_resp {
        display: flex;
        font-size: 19px;
        color: #4589FF;
    }

    .header_popup {
        align-items: end !important;
        height: 176px;
    }

}

@media (width < 518px) {

    .newContact_popUp_container {
        width: -webkit-fill-available;
    }

    .newContact_popUp_cont {
        width: -webkit-fill-available;
    }

    .new_contact_top {
        width: -webkit-fill-available;
    }

    .new_contact_bottom {
        width: -webkit-fill-available;
    }

    .new_contact_bottom2 {
        padding-left: 80px;
        padding-right: 80px;
        width: -webkit-fill-available;
    }

    .new_contact_bottom3 {
        width: -webkit-fill-available;
        padding-left: 10px;
        padding-right: 10px;
    }

    .new_contact_info_user {
        width: -webkit-fill-available;
    }

    .new_contact_info {
        width: -webkit-fill-available;
    }

    .newContact_input {
        width: -webkit-fill-available;
    }

    .new_contact_bottons {
        width: -webkit-fill-available;
        gap: 15px;
    }

}

@media (width < 500px) {
    .send_mail {
        width: 200px;
    }

    .font_pop_up {
        font-size: 15px;
    }

    .send_mail {
        width: 200px;
    }

    .send_mail a {
        width: 200px;
    }

    .confirm_password {
        height: 53px;
    }

    .confirm_password a {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .new_contact_title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        font-size: 35px;
    }

    .new_contact_subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: -webkit-fill-available;
        font-size: 19px;
    }


    .new_contact_botton_cancel {
        width: 80px;
        height: 40px;
    }

    .new_contact_cancel {
        font-size: 15px;
    }

    .new_contact_button {
        font-size: 15px;
    }

    .new_contact_botton_create {
        width: 185px;
        height: 40px;
    }

    .edit_contact_botton_create {
        width: 80px;
        height: 40px;
    }

    .new_contact_bottom2 {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media (width < 400px) {
    .new_contact_bottom2 {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (width < 350px) {
    .new_contact_bottom2 {
        padding-left: 20px;
        padding-right: 20px;
    }
}