body {
    margin: 0;
}

/* View Task */

.view_task_container {
    display: none !important;
    z-index: 8;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.view_task_task {
    padding: 50px;
    gap: 25px;
    isolation: isolate;
    position: relative;
    width: 523px;
    height: 768px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    overflow-y: auto;
}

.view_task_popUp_close {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    right: 34px;
    top: 34px;
    cursor: pointer;
}

.view_task_category {
    padding: 4px 36.5px;
    gap: 10px;
    width: 129px;
    height: 36px;
    background-color: red;
    border-radius: 8px;
}

.view_task_category_text {
    height: 28px;
    font-size: 23px;
    color: #FFFFFF;
}

.view_task_category_title {
    gap: 1px;
    width: 523px;
    height: auto;
}

.view_task_category_a {
    width: 523px;
    height: auto;
    font-weight: 700 !important;
    font-size: 61px;
    color: #000000;
}

.view_task_description {
    width: 518px;
    height: auto;
    font-size: 21px;
    color: #000000;
}

.view_task_due_date {
    gap: 25px;
    width: 246px;
    height: 25px;
}

.view_task_subtitle {
    width: fit-content;
    height: 25px;
    font-weight: 700 !important;
    font-size: 20px;
    color: #42526E;
}

.view_task_date {
    width: 122px;
    height: 25px;
    font-size: 21px;
    color: #000000;
}

.view_task_priority {
    gap: 25px;
    width: 232px;
    height: 31px;
}

.view_task_prio_cont {
    padding: 4px 18px;
    gap: 10px;
    width: 125px;
    height: 31px;
}

.view_task_prio {
    width: 74px;
    height: 23px;
    font-size: 19px;
    color: #000000;
}

.view_task_prio_img {
    width: 17px;
    height: 12px;
}

.view_task_contacts_cont {
    width: 400px;
    height: fit-content;
}

.view_task_contact {
    gap: 11px;
    width: -webkit-fill-available;
}

.view_task_contacts_container {
    padding: 7px 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 448px;
    height: 56px;
}

.view_task_contact_circle {
    gap: 10px;
    width: 42px;
    height: 42px;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.view_task_contact_initials {
    width: 22px;
    height: 19px;
    font-size: 12px;
    color: #FFFFFF;
}

.view_task_contact_name {
    width: 300px;
    height: 25px;
    font-size: 19px;
    color: #000000;
}

.view_task_subTasks_cont {
    gap: 8px;
}

.viewTask_sub_cont {
    display: flex;
    padding: 6px 16px;
    gap: 16px;
}

.view_task_subTasks_name {
    font-size: 16px;
}

.view_task_edit {
    display: flex;
    width: -webkit-fill-available;
    height: 28px;
    gap: 8px;
    position: relative;
}

.view_task_editTask {
    gap: 8px;
    cursor: pointer;
}

.delete_task {
    font-size: 16px;
}

.add_task_buttons_bottom_ok {
    width: -webkit-fill-available;
}

.add_task_buttons_ok {
    width: 78px;
    height: 60px;
    padding: 16px 10px;
    gap: 4px;
    border-radius: 10px;
    background: #4589FF;
    cursor: pointer;
    border: none;
    position: relative;
}

.add_task_buttons_ok img {
    padding-bottom: 6px;
}

@media (width < 650px) {
    .view_task_task {
        width: -webkit-fill-available;
        height: fit-content;
    }

    .view_task_category {
        padding: 2px 30px;
        width: 100px;
        height: 30px;
    }

    .view_task_category_text {
        font-size: 20px;
    }

    .view_task_category_title {
        width: -webkit-fill-available;
    }

    .view_task_category_a {
        width: -webkit-fill-available;
        font-size: 40px;
    }

    .view_task_description {
        width: -webkit-fill-available;
        font-size: 16px;
    }

    .view_task_subtitle {
        font-size: 18px;
    }

    .view_task_date {
        font-size: 16px;
    }

    .view_task_prio {
        font-size: 16px;
        height: initial;
    }

    .view_task_prio_img {
        width: 15px
    }

    .view_task_contacts_cont {
        width: -webkit-fill-available;
    }

    .view_task_contacts_container {
        width: -webkit-fill-available;
        height: 30px;
    }

    .view_task_contact_name {
        width: -webkit-fill-available;
        font-size: 16px;
    }

    .view_task_contact_circle {
        width: 40px;
        height: 32px;
    }

    .view_task_contact_initials {
        width: initial;
        height: initial;
        font-size: 10px;
    }

    .view_task_edit {
        justify-content: flex-end !important;
    }


}