<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="assets/css/models.css" />
    <link rel="stylesheet" href="assets/css/newContactPops.css" />
  </head>

  <body>
    <div id="editContactPopUp"></div>

    <script src="assets/js/login-signup.js"></script>
    <script src="assets/js/forgotPassword.js"></script>
    <script src="assets/js/summary.js"></script>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/addTask.js"></script>
  </body>
</html>
